$min-tier-height: 7.25rem;
$border-radius: 0.5rem;

.tierlist {
	// ...
}

.tier-label {
	position: relative;
	min-width: 6.5rem;
	min-height: $min-tier-height;	
	border-radius: $border-radius;
	height: 100% !important;
	font-weight: bold;
	text-transform: uppercase;
}

.tier-slot {
	min-height: $min-tier-height;
	background-color: #212121;
	border-radius: $border-radius;
}