@if (!isLoading) {
<!-- Tierlist Header -->
<div class="flex row justify-between mb-3">
	<p class="font-xl">{{ tierlist?.name }}</p>

	<div class="flex row gap-1">
		<p-button
			label="Save"
			(click)="save()"
			[loading]="isLoadingSave"
			severity="info"
			icon="pi pi-save" />
		<p-button
			label="Delete"
			(click)="showDeleteDialog = true"
			[loading]="isLoadingDelete"
			severity="danger"
			icon="pi pi-trash" />
		<p-button
			icon="pi pi-undo"
			(click)="reset()"
			severity="warn"
			pTooltip="Reset" tooltipPosition="right"
			[disabled]="!canReset"></p-button>
	</div>
</div>


<div class="drag-boundary" cdkDropListGroup>
	<!-- Tierlist Itself -->
	<div class="tierlist flex col gap-1 mb-2 w-100">
		@for (tier of tierlist?.tiers; track $index) {
			<!-- Individual Tier Row -->
			<div class="flex row gap-1">
				<!-- Tier Name -->
				<p class="tier-label text-dark font-l flex align-center justify-center pointer text-wrap"
					(click)="clickedTier(tier)"
					[ngStyle]="{ 'backgroundColor': tier.color }">
					
					<span class="unselectable">{{ tier.label }}</span>
				</p>

				<!-- Tier Items Slot -->
				<div class="item-container flex row gap-1 pa-1 flex-wrap align-center justify-start w-100"
					cdkDropList [cdkDropListData]="tier.items!" cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">

					@for (item of tier.items; track item.id) {
						<app-tile cdkDrag cdkDragBoundary=".drag-boundary"
							[image]="item.thumbnail"
							[title]="item.name"
							class="cursor-pointer"
							(click)="clickedTile(item)" />
					}
				</div>
			</div>
		}
	</div>

	<!-- Tierlist Items -->
	<!-- ... -->
	<div class="item-container flex row gap-1 flex-wrap w-100 pa-1"
		cdkDropList [cdkDropListData]="tierlist?.items!" cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">

		@for (item of tierlist?.items; track $index) {
			<app-tile cdkDrag cdkDragBoundary=".drag-boundary"
				[image]="item.thumbnail"
				[title]="item.name"
				(click)="clickedTile(item)"
				class="cursor-pointer" />
		}
	</div>
</div>

} @else {
	<app-spinner></app-spinner>
}

<!-- Confirm Delete Dialog -->
<p-dialog
	[(visible)]="showDeleteDialog"
	header="Confirm Delete"
	[modal]="true"
	[closable]="true"
	[resizable]="false">
	
	<p class="mb-4">Are you sure you want to delete this tierlist?</p>
	<div class="flex row justify-end gap-1">
		<p-button label="Cancel"
			variant="text"
			(click)="showDeleteDialog = false"></p-button>
		<p-button label="Delete" (click)="delete()" severity="danger"></p-button>
	</div>
</p-dialog>

<!-- Variations Gallery Dialog -->
<p-dialog
	[(visible)]="showVariationsDialog"
	[header]="selectedItem?.name + ' Variations'"
	[style]="{ width: '50vw' }"
	[modal]="true"
	[closable]="true"
	[resizable]="false">
	
	<!-- <p-galleria [(value)]="selectedItemVariations" [numVisible]="5">
		<ng-template #item let-item>
			<img [src]="item.image" [alt]="item.name" style="width: 100%; display: block;" />
		</ng-template>
		<ng-template #thumbnail let-item>
			<img [src]="item.image" style="display: block;" />
		</ng-template>
		<ng-template #caption let-item>
			<div class="font-xl mb-2 font-bold">{{ item.name }}</div>
		</ng-template>
	</p-galleria> -->
</p-dialog>

<!-- Edit Tier Info Dialog -->
<p-dialog *ngIf="selectedTier"
	[(visible)]="showTierInfoDialog"
	[header]="selectedTier.label"
	[modal]="true"
	[closable]="true"
	[resizable]="false">

	<div class="flex col align-center gap-2">
		<p-floatlabel variant="in">
			<input pInputText
				id="tierlist-name"
				type="text"
				[(ngModel)]="selectedTier.label">
			<label>Tier Label</label>
		</p-floatlabel>

		<p-colorpicker
			[(ngModel)]="selectedTier.color"
			[inline]=true />

		<div class="flex row justify-end gap-1 w-100">
			<p-button label="Close"
				variant="text"
				(click)="showTierInfoDialog = false"></p-button>
			<p-button label="Delete"
				(click)="deleteTier(selectedTier)"
				severity="danger"></p-button>
		</div>
	</div>
</p-dialog>
