<div class="flex col gap-2 align-center justify-center">
    <p class="font-xl mb-2">Create a Tierlist from Template</p>
    
    @if (isLoadingTemplate) {
        <app-spinner></app-spinner>
    } @else {
        <p-select [(ngModel)]="selectedTemplate"
			(ngModelChange)="onTemplateChange($event)"
            [options]="allTemplates"
			optionLabel="name"
            placeholder="Select a template"
			*ngIf="allTemplates.length">
        </p-select>
    }

    @if (!isLoadingTemplate && newTierlist) {
        <p-floatlabel variant="in">
            <input pInputText
                id="tierlist-name"
                type="text"
                [(ngModel)]="newTierlist.name">
            <label>Tierlist Name</label>
        </p-floatlabel>
        <p-button label="Create"
            (click)="createTierlist()"
            [disabled]="!canCreate"></p-button>
    }
</div>